<app-tutor-nav></app-tutor-nav>

<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header text-center">
          <h1 class="header-text text-white">Registration Form</h1>
        </div>
        <div class="card-body">
          <form
            [formGroup]="tutorSignupForm"
            (ngSubmit)="tutorRegistration()"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="name" class="form-label">Tutor Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Enter your name"
              />
              <div
                *ngIf="
                  tutorSignupForm.get('name')?.hasError('required') &&
                  tutorSignupForm.get('name')?.touched
                "
                class="text-danger"
              >
                Tutor name is required
              </div>
            </div>
            <div class="mb-3">
              <label for="qualification" class="form-label"
                >Qualification</label
              >
              <input
                type="text"
                class="form-control"
                id="qualification"
                formControlName="qualification"
                placeholder="Enter your qualification"
              />
              <div
                *ngIf="
                  tutorSignupForm.get('qualification')?.hasError('required') &&
                  tutorSignupForm.get('qualification')?.touched
                "
                class="text-danger"
              >
                Qualification is required
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="Enter your email"
              />
              <div
                *ngIf="
                  tutorSignupForm.get('email')?.hasError('required') &&
                  tutorSignupForm.get('email')?.touched
                "
                class="text-danger"
              >
                Email is required
              </div>
              <div
                *ngIf="
                  tutorSignupForm.get('email')?.hasError('email') &&
                  tutorSignupForm.get('email')?.touched
                "
                class="text-danger"
              >
                Invalid email address
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <div class="input-group">
                <input
                  type="{{ hidePassword ? 'password' : 'text' }}"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  placeholder="Enter your password"
                />

                <span
                  class="input-group-text"
                  (click)="togglePasswordVisibility()"
                >
                  <i class="fas fa-eye" *ngIf="!hidePassword"></i>
                  <i class="fas fa-eye-slash" *ngIf="hidePassword"></i>
                </span>
              </div>
              <div
                *ngIf="
                  tutorSignupForm.get('password')?.hasError('required') &&
                  tutorSignupForm.get('password')?.touched
                "
                class="text-danger"
              >
                Password is required
              </div>
              <div
                *ngIf="
                  tutorSignupForm.get('password')?.hasError('weakPassword') &&
                  tutorSignupForm.get('password')?.touched
                "
                class="text-danger"
              >
                Password must be strong (uppercase, lowercase, digit, special
                character)
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Confirm Password</label>
              <div class="input-group">
                <input
                  type="{{ hidePassword ? 'password' : 'text' }}"
                  class="form-control"
                  id="password"
                  formControlName="confirmPassword"
                  placeholder="Confirm your password"
                />

                <span
                  class="input-group-text"
                  (click)="togglePasswordVisibility()"
                >
                  <i class="fas fa-eye" *ngIf="!hidePassword"></i>
                  <i class="fas fa-eye-slash" *ngIf="hidePassword"></i>
                </span>
              </div>
              <div
                *ngIf="
                  tutorSignupForm.get('password')?.hasError('required') &&
                  tutorSignupForm.get('password')?.touched
                "
                class="text-danger"
              >
                Confirm Password is required
              </div>
              <div
                *ngIf="
                  tutorSignupForm.get('password')?.hasError('weakPassword') &&
                  tutorSignupForm.get('password')?.touched
                "
                class="text-danger"
              >
                Password must be strong (uppercase, lowercase, digit, special
                character)
              </div>
            </div>
            <div class="mb-3">
              <label for="cv" class="form-label">Upload PDF CV</label>
              <input
                type="file"
                class="form-control"
                id="cv"
                (change)="onCVFileChange($event)"
                accept=".pdf"
              />
              <div *ngIf="invalidFile" class="text-danger">
                Invalid PDF file. Please upload a PDF file.
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-lg">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
