<app-user-nav></app-user-nav>
<div class="main d-flex justify-content-center align-items-center">
  <div class="card-container">
    <div class="left-card">
      <img
        src="../../../assets/home/userRegimg.png"
        alt="Image"
        class="left-image"
      />
    </div>
    <div class="right-card">
      <div class="form-container">
        <mat-card class="form-card">
          <mat-card-header class="login-heading">
            <h1>Registration</h1>
          </mat-card-header>
          <form
            class="example-form"
            [formGroup]="registerForm"
            (ngSubmit)="proceedRegistration()"
          >
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input type="name" matInput formControlName="name" />
              <mat-error *ngIf="registerForm?.get('name')?.hasError('required')"
                >Email is required</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Education</mat-label>
              <input type="education" matInput formControlName="education" />
              <mat-error
                *ngIf="registerForm?.get('education')?.hasError('required')"
                >Email is required</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" />
              <mat-error
                *ngIf="registerForm?.get('email')?.hasError('required')"
                >Email is required</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="togglePasswordVisibility()"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="registerForm?.get('password')?.hasError('required')"
                >Password is required
              </mat-error>
              <mat-error
                *ngIf="registerForm?.get('password')?.hasError('weakPassword')"
              >
                Password must be strong (uppercase, lowercase, digit, special
                character)
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="confirmPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="togglePasswordVisibility()"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  registerForm?.get('confirmPassword')?.hasError('required')
                "
                >Password is required
              </mat-error>
              <mat-error
                *ngIf="
                  registerForm?.get('confirmPassword')?.hasError('weakPassword')
                "
              >
                Password must be strong (uppercase, lowercase, digit, special
                character)
              </mat-error>
            </mat-form-field>
            <div class="button-container">
              <button mat-raised-button class="custom-button">Register</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
