<app-user-nav></app-user-nav>

<div class="main">
    <h1 class="header-text text-white">Order Details</h1>
  </div>

  <div class="container mt-5 course-details">
    <div class="row">
      <div class="col-md-8">
        <div class="p-5">
          <h1 class="text-start fs-1">{{order.courseName}}</h1>
        </div>
        <div class="p-5 rounded tutor-info">
            <div class="d-flex justify-content-around">
                <div>
                    <span class="fs-3">Tutor Name:{{order.tutorId.name}}</span>
                  </div>
                  <div>
                    <span class="fs-3">Email:{{order.tutorId.email}}</span>
                  </div>
            </div>
         
        </div>

        <div class="p-3 mt-1">
          <div class="d-flex">
            <h1 class="fs-2 ms-2">Course Description</h1>
          </div>
          <div class="fs-5 text-start description" style="line-height: 40px;">
            {{order.courseDescription}}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="mt-5">
          <p class="text-start fs-1 text-dark">Course Details</p>

          <div class="course-meta">
            <div class="d-flex justify-content-between align-items-center p-3 mt-5">
              <div class="d-flex">
                <span class="material-icons" style="color: rgb(237, 95, 30)">snooze</span>
                <span class="fs-4 ms-2">Course Duration</span>
              </div>
              <div class="fs-4">{{order.courseVideoDuration}}</div>
            </div>
            <hr />
         
            
            <div class="d-flex justify-content-between align-items-center p-3 mt-1">
              <div class="d-flex">
                <span class="material-icons" style="color: rgb(237, 95, 30)">paid</span>
                <span class="fs-4 ms-2">Course Fee</span>
              </div>
              <div class="fs-4">{{order.courseFee}}</div>
            </div>
            <hr />
           
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-between mt-4 video-container">
   
        <h1 class="fs-2 ms-5">Course Video</h1>
        <div class="d-flex justify-content-center mt-3">
         <video class="w-75 height: 100px;" controls [src]="courseVideoUrl">
             
              Your browser does not support the video tag.
            </video> 
        </div>
     
    </div>

    <div class="p-3 mt-4">
      <div class="d-flex">
        <h1 class="fs-2 ms-2">Course Description</h1>
      </div>
      <div class="fs-5 p-1 text-start description" style="line-height: 40px;">
        {{order.courseVideoDescription}}
      </div>
    </div>
    <div class="p-3 mt-4">
      <div class="d-flex">
        <h1 class="fs-2 ms-2">Add Review</h1>
      </div>
      <div *ngIf="order.review && order.review.length>0">
        <div *ngFor="let review of order.review">
          <section style="color: #000; background-color: #f3f2f2;">
            <div class="container py-5">
                  <div class="card">
                    <div class="card-body py-4 mt-2">
                      <div class="d-flex justify-content-center mb-4">
                        <img [src]="getImage(review.userId.image?review.userId.image.toString():'')"
                          class="rounded-circle shadow-1-strong" width="100" height="100" />
                      </div>
                      <h5 class="font-weight-bold text-center fs-3">{{review.userId.name}}</h5>
                      <div class="p-5">
                        <div class="row " *ngIf="review.rating">
                          <div class="col-lg-2">
                              <h3><b>Ratings :</b></h3>
                          </div>
                          <div class="col-lg-3 ms-1" style="margin-left: -129px; margin-top: -5px;" >
                              <ng-container *ngFor="let star of getStarArray(review.rating)">
                                  <img width="37" height="34" src="https://img.icons8.com/fluency/48/star--v1.png" alt="star--v1" />
                              </ng-container>
                              <ng-container *ngFor="let star of getStarArray(5-review.rating)">
                                <img width="25" height="28" src="https://static.thenounproject.com/png/1371880-200.png" alt="star--v1" />
                            </ng-container>
                          </div>
                      </div>
                        <p class="mb-2 fs-5" style="line-height: 25px;">
                          <i class="fas fa-quote-left pe-2"></i>{{review.comments}}
                        </p>
                      </div>
                     
                    </div>
                  </div>
              
            </div>
          </section>  
        </div>

      </div>
      <div class="fs-5 p-1 text-start description" style="line-height: 40px;">
        <form [formGroup]="reviewForm"(submit)="submitReview()">
          <div class="mb-1 d-flex">
            <ngx-star-rating [ngModel]="reviewForm.get('rating')?.value" (ngModelChange)="reviewForm.patchValue({rating:$event})" formControlName="rating"></ngx-star-rating>
          </div>
          <div class="mb-3">
            <label for="reviewComments" class="form-label">Review Comments</label>
            <textarea class="form-control" id="comments" formControlName="comments" required></textarea>
          </div>
         
          <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
      </div>
    </div>
    
  </div>

