<div class="footer-section">
    <div class="foot-sec1">
        <h2>WEB LEARN</h2>
    </div>
    <div class="foot-sec2">
        <mat-list>
            <h3>About Us</h3>
            <h3>Instructors</h3>
            <h3>Courses</h3>
        </mat-list>
    </div>
    <div class="foot-sec3">
        <h3>Popular Courses</h3>
        <img src="path/to/your/image.jpg" alt="Popular Course Image">
        <h4>JavaScript</h4>
    </div>
    <hr>
    <p style="text-align: center;">2023 webLearn Powered by Rishana</p>
</div>