.footer-section {
    background-color: rgb(13, 105, 124);; /* Set your desired background color */
    color: #fff; /* Set text color to white */
    padding: 30px; /* Add padding for better spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Allow content to wrap to the next line if needed */
  }
  
  .footer-section h2, .footer-section h3, .footer-section h4, .footer-section p {
    margin: 0;
    padding: 0;
  }
  .footer-section .parent-element .foot-sec3 p { text-align: center; }
  
  .foot-sec1,
  .foot-sec2,
  .foot-sec3 {
    margin-bottom: 20px; /* Add margin between sections */
  }
  
  .foot-sec3 img {
    max-width: 100px; /* Set maximum width for the course image */
  }
  .footer-section hr {
    width: 100%; /* Make the <hr> span the full width of the container */
    border: 0;
    height: 2px; /* Set the height of the <hr> */
    background-color: #fff; /* Set the color of the <hr> */
    margin: 20px 0; /* Add margin above and below the <hr> for spacing */
  }
  