/* Add global styles for the app if not using scoped CSS */
/* Example global styles */
.mat-toolbar {
    height: 84px; /* Set the height of the toolbar */
    
  }

  
  .container {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  .logo-icon {
    margin-right: 8px; /* Adjust the margin between the icon and text */
    font-size: 36px; /* Set the font size of the icon */
    animation: pulse 1.5s infinite; /* Add a pulse animation */
  }
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
  
  .logo-text {
    font-size: 24px; /* Set the font size of the logo text */
    font-weight: bold;
    text-decoration: none;
    color: white; /* Set the color of the logo text */
  }
  
  .flex-spacer {
    flex: 1; /* Pushes the logout button to the right */
  }
  
  .logout-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white; /* Set the color of the logout text */
    text-decoration: none;
    margin-left: 16px; /* Add margin between logo and logout button */
  }
  .logout-button:hover {
    transform: scale(1.05);
}
  
  .logout-icon {
    margin-right: 8px; /* Adjust the margin between the icon and text */
  }
  