body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c36;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353a47;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.left-panel {
    text-align: center;
    color: white;
    padding: 20px;
}

.login-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.right-panel {
    padding: 20px;
}

.form-card {
    width: 300px;
    text-align: center;
    padding: 20px;
    background-color: #434d5b;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.example-form {
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    margin-bottom: 20px;
    width: 100%;
}

.custom-button {
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-button:hover {
    background-color: #45a049;
}
